{% extends "base.html" %}

{% block content %}
    {% if characters %}
        <h2>Персонажи:</h2>
    {% else %}
        <h2>У Вас пока не добавлено ни одного персонажа!</h2>
    {% endif %}
    {% for character in characters %}
        <p>
            {{ character.name }} <a class="false" href="{% url 'extra_ep:deattach_character' character_id=character.id %}">✘</a>
        </p>
    {% endfor %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.name.label }}: {{ form.name }} {{ form.name.errors }}
        <input type="submit" value="Добавить" class="btn btn-primary">
    </form>
{% endblock %}