{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'extra_ep/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "calendarium/css/calendar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'extra_ep/style.css' %}">
    {% block head %}
        <meta charset="UTF-8">
        <title>
            {% block title %}Адепты Катаклизма{% endblock %}
        </title>
    {% endblock %}
</head>
<body>
{% block body %}
    {% include "navbar.html" %}
    <div id="page-wrap">
            {% block content %}{% endblock %}
            {% block main %}{% endblock %}  {# For calendarium #}
    </div>
{% endblock %}
</body>
</html>