{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'extra_ep/style.css' %}">

    {% block head %}
        <meta charset="UTF-8">
        <title>
            {% block title %}Title{% endblock %}
        </title>
    {% endblock %}
</head>
<body>
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb 'Отчеты' 'extra_ep:report_list' %}
{% endblock %}
{% block body %}
    {% render_breadcrumbs %}
    {% block content %}{% endblock %}
{% endblock %}
</body>
</html>